/* RESOLUTION SPECIFIC STYLES - 960px X 540px */

/* Application in Center-Middle of Screen (achieved by positioning 50% down from top AND shifting back up to origin by half height) */
#app {
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 540px;
    top: 50%;
    margin: -270px auto 0 auto;
    background-image: url(../../img/bbc_background_540.png);
    background-repeat: no-repeat;
    background-color: red;
}

#helloWorldLabel, #welcomeLabel {
    display: block;
    text-align: center;
}

#helloWorldLabel {
    font-size: 45px;
    padding-top: 175px;
    font-weight: bold;
}

#welcomeLabel {
    font-size: 25px;
}

#simplecarousel_mask {
    top: 120px;
}

.description {
    top: 50px;
    font-size: 20px;
}

#playerButtons {
    bottom: 30px;
    width: 600px;
    padding: 8px;
    left: 180px;
}