/* Document */
html {
    height: 100%;
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
    color: #ffffff;
}

/* List widgets */
.horizontallist, .verticallist {
    position: relative;
}

.horizontallist .listitem {
    display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
    display: inline-block;
}

.verticallist .listitem {
    display: block;
    position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
    display: block;
}


/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
    overflow: hidden;
    width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
    display: inline-block;
}

.horizontalcarousel {
    width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}


/* DEVICE SPECIFIC DEFAULTS */

/* if you target some consoles you may need to add additional styles like this */
.someConsoles .horizontallist .listitem {
    display: inline-block;
    float: left;
}


/* If you target some older tv models, you will need to specify
   initial element background in the base stylesheet, not in dynamically loaded styles. */

.sometv.layout540p #app {
    width: 960px;
    height: 540px;
    /*background-image: url(some/image/url_540.png); */
}

.sometv.layout720p #app {
    width: 1280px;
    height: 720px;
    /*background-image: url(some/image/url_720.png); */
}

.sometv.layout1080p #app {
    width: 1920px;
    height: 1080px;
    /*background-image: url(some/image/url_1080.png); */
}